<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Edit user details </title>
  </head>
  <h1>Edit user details : <h1>
  <body style="background-color:Gray;">
    <form method="post" enctype = "multipart/form-data">
  

  <div class="container">
    <ul>

    <li>
    <label for=" name"><b>Name:</b></label>
    <input type="text" placeholder=" name" name="username" >
    </li>

    <li>
    <label for=" year"><b>Email:</b></label>
    <input type="text" placeholder=" email" name="email" >
    </li>
    
    <li>
    <label for=" text"><b>Text:</b></label>
    <input type="text" placeholder=" text" name="text" >
    </li>
    

    <li>
    <label for=" status"><b>Status:</b></label>
    <input type="text" placeholder=" status" name="status" >
    </li>
    



    </ul>
    <input type="submit" value="Submit">
  </div>

  
</form>
  </body>
</html>