<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">    
    
    <!-- Style -->
    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='webui/css/owl.carousel.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='webui/css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='webui/css/style.css') }}">
    <title> DevHub</title>

  </head>
  <body>
  
    <button onclick="window.location.href='{{ url_for( 'webui.signup') }}'" >
      Sign Up
    </button>
    <button onclick="window.location.href='{{ url_for( 'webui.login') }}'" >
      Sign In
    </button>
    <button onclick="window.location.href='{{ url_for( 'webui.logout') }}'" >
      Log Out 
    </button>
    <button onclick="window.location.href='{{ url_for( 'webui.home') }}'" >
      Home
    </button>
  <div class="content">
    
    <div class="container">
      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              
              
              <th scope="col">Name</th>
              
              <th scope="col">Email</th>
              <th scope="col">Text</th>
              <th scope="col">Status</th>  <!-- this tells if the task is done or not --> 
            </tr>
          </thead>
          <tbody>
            {% for usr in all_users %}
            <tr scope="row">

              
                      
                      <td><a  href="{{ url_for('webui.edit', id=usr.id) }}"> {{usr.username}}</a>
                        
                      </td>
                      <td><a> {{usr.email}} </a></td>
                      <td>
                        <small class="d-block">{{usr.text}}</small>
                      </td>
                      <td>{{usr.status}}</td>
                      
                      
            
            </tr> 
            {% endfor %}

              
            
          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    



  </body>
</html>
